* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    ". . header header . ."
    ". . main main . ."
    ". . main main score ."
    ". . main main score ."
    ". . main main . ."
    "footer footer footer footer footer footer";

    background-color: rgb(160, 209, 205);
}

header {
    grid-area:header;
    align-self: center;
    justify-self:center;
}
#score-board{
    grid-area:score;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main{
    grid-area:main;
    background-color: aliceblue;
    display:grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    border:1px solid black;
    border-radius: 2%;
    background-color:rgb(142, 213, 203);

    -webkit-box-shadow: -8px 5px 9px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -8px 5px 9px 0px rgba(0,0,0,0.5);
box-shadow: -8px 5px 9px 0px rgba(55, 137, 113, 0.5);
}

.snake{
    background-color: rgb(78, 177, 60);
    border: 1px solid black;
}

.apple{
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}

footer {
    grid-area:footer;
    align-self:end;
    justify-self:center;
}

@media only screen and (max-width: 725px){
    body {
        width:100vw;
        height:100vh;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        ".  header header . "
        ".  main main . "
        ".  main main . "
        ". score score ."
        "footer footer footer footer";
    }
    #score-board{
        grid-area:score;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

}